.container {
    width: 100%;
    position: center;
}


.addPostContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.addPostChild{
    margin: 5px 5px 5px 5px;
}

.addPostChild textarea {
    width: 500px;
}

.postListContainer {
    display: flex;
    flex-direction: column;
}

.postListContainer:hover a {
    text-decoration: none;
}

.postListContainer a{
    color: black;
}

.post {
    margin: 5px 5px 5px 5px;
}


.post:hover {
    background-color: darksalmon;
}